<!-- jade template of file item -->
<script type="text/jade" id="tmpl_files">
each item in files
	-var classList = item.compile ? 'type_' + item.type : 'disable type_' + item.type
	li.file_item(class=classList, data-src=item.src, data-type=item.type, data-pid = item.pid,data-id=item.id, id = item.id)
		h3.name #{item.shortSrc}
		p.output
			button.custom_button.changeOutput change
			span #{item.shortOutput}
</script>

<!-- jade template of forder item -->
<script type="text/jade" id="tmpl_forders">
each item in folders
	-var src = item.src, id = item.id
	li(data-src=src, data-id=id, id = id) #{item.name}
</script>

<!-- jade template of settings -->
<script type="text/jade" id="tmpl_settings">
input(type="hidden", name="pid", value=file.pid)
input(type="hidden", name="src", value=file.src)
input(type="hidden", name="id", value=file.id)

div
	h3.type(class="type_" + file.type)
	h4.targetName

	label
		input(type="checkbox",class="compileStatus")
		span {{auto compile}}

	div.optionItem.option_args
		h3.title {{[@jadetmpl.html]options:}}
		type = /sass|scss/.test(file.type) ? 'sass' : file.type
		case type
			when "less"
				label
					input(type="checkbox",class="lineComments")
					span line comments
				label
					input(type="checkbox",class="debugInfo")
					span debug info
			when "sass"
				label
					input(type="checkbox",class="compass")
					span compass
				label
					input(type="checkbox",class="lineComments")
					span line comments
				label
					input(type="checkbox",class="debugInfo")
					span debug info
				label
					input(type="checkbox",class="unixNewlines")
					span unix newlines

			when "coffee"
				label
					input(type="checkbox",class="bare")
					span bare
				label
					input(type="checkbox",class="literate")
					span literate

	div.optionItem.option_outputStyle
		h3.title {{output style:}}
		select.outputStyle
			case type
				when "less"
					option(value="") normal
					option(value="compress") compress
					option(value="yuicompress") yuicompress
				when "sass"
					option(value="nested") nested
					option(value="expanded") expanded
					option(value="compact") compact
					option(value="compressed") compressed
				when "coffee"
					option(value="") normal

	footer
		button(class="compileManually") {{[@jadetmpl.html]compile}}
</script>