*.sublime-project
*.sublime-workspace
test
tests
benchmark
example
extra
build
nw
nw.pak
src/.sass-cache
src/node-webkit.app
src/ruby
src/node_modules/.bin
src/node_modules/clean-css
src/node_modules/coffee-script
src/node_modules/dustjs-linkedin
src/node_modules/less
src/node_modules/uglify-js
src/node_modules/autoprefixer
src/rubygems
src/rubygems/bin
src/rubygems/gems
src/rubygems/specifications
*.DS_Store
*.map
.idea
node_modules
cache
dist
