@import "reset.css";
/* line 5, _util.less */
.flexbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 4, settings.less */
body {
  overflow: hidden;
  padding: 0;
  line-height: 25px;
}
/* line 9, settings.less */
a {
  text-decoration: underline;
}
/* line 10, settings.less */
.hide {
  display: none;
}
/* line 12, settings.less */
#titlebar {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
/* line 18, settings.less */
#titlebar .close {
  font-weight: bold;
  text-indent: 12px;
  font-size: 16px;
  display: block;
  width: 35px;
  height: 35px;
  float: right;
}
/* line 27, settings.less */
#titlebar .close:hover {
  color: #555555;
}
/* line 31, settings.less */
#titlebar,
#footer {
  height: 35px;
  line-height: 35px;
}
/* line 37, settings.less */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  border-top: 1px solid #CCC;
  background-color: #FFF;
}
/* line 45, settings.less */
#footer button {
  min-width: 60px;
  margin-right: 10px;
}
/* line 51, settings.less */
#outer {
  padding: 10px 5px 0 0;
}
/* line 52, settings.less */
#inner {
  padding: 0 0 0 10px;
  height: 394px;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 58, settings.less */
.win32 #inner {
  height: 358px;
}
/* line 60, settings.less */
.starborder {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
}
/* line 69, settings.less */
#nav {
  width: 140px;
  height: 100%;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 76, settings.less */
#nav li {
  padding-left: 15px;
  line-height: 30px;
  height: 30px;
  position: relative;
  color: #999;
}
/* line 84, settings.less */
#nav li:hover {
  color: #555555;
}
/* line 88, settings.less */
#nav li.current {
  color: #555555;
}
/* line 89, settings.less */
#nav li.current::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
  background-color: #555;
}
/* line 94, settings.less */
.win32 #nav {
  width: 130px;
}
/* line 96, settings.less */
#content {
  -webkit-box-flex: 1;
  padding-left: 20px;
  padding-right: 15px;
  height: 100%;
  overflow: auto;
}
/* line 103, settings.less */
#content h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 108, settings.less */
#content h3 {
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
/* line 113, settings.less */
#content .optionbox {
  margin-bottom: 15px;
}
/* line 116, settings.less */
#filter {
  padding: 0 3px;
  width: 150px;
  margin-left: 5px;
}
/* line 122, settings.less */
#checkupgrade {
  margin-left: 20px;
}
/* line 126, settings.less */
#upgradeloading {
  margin-left: 10px;
  display: none;
}
/* line 132, settings.less */
#upgradetips a {
  color: red;
}
/* line 133, settings.less */
#upgradetips .update,
#upgradetips .noupdate {
  display: none;
  padding: 0 10px;
  margin: 10px 0;
}
/* line 138, settings.less */
#upgradetips .update {
  background-color: #FDFD67;
}
/* line 141, settings.less */
#upgradetips .noupdate {
  background-color: #E0E0E0;
}
/* line 146, settings.less */
#link_download {
  margin-right: 5px;
}
/* line 151, settings.less */
.contributors a {
  margin-right: 5px;
}
