<!-- jade template of file item -->
<script type="text/jade" id="tmpl_files">
each item in files
	-var classList = item.compile ? 'type_' + item.type : 'disable type_' + item.type
	li.file_item(class=classList, data-src=item.src, data-type=item.type, data-pid = item.pid,data-id=item.id, id = item.id)
		h3.name #{item.shortSrc}
		p.output
			button.custom_button.changeOutput change
			span #{item.shortOutput}
</script>

<!-- jade template of forder item -->
<script type="text/jade" id="tmpl_forders">
each item in folders
	-var src = item.src, id = item.id
	li(data-src=src, data-id=id, id = id) #{item.name}
</script>

<!-- jade template of settings -->
<script type="text/jade" id="tmpl_settings">
input(type="hidden", name="pid", value=file.pid)
input(type="hidden", name="src", value=file.src)
input(type="hidden", name="id", value=file.id)

div
	h3.type(class="type_" + file.type)
	h4.targetName= file.name

	label
		input(type="checkbox",class="compileStatus",checked=file.compile)
		span {{auto compile}}

	if file.type !== 'dust'
		div.optionItem.option_args
			h3.title {{[@jadetmpl.html]options:}}

			mixin args_checkbox(arg, title)
				label
					input(type="checkbox",class=arg,checked=file.settings[arg])
					span= title ? title : arg

			case file.type
				when "less"
					mixin args_checkbox("lineComments", "line comments")
					mixin args_checkbox("debugInfo", "debug info")

				- case "sass":
				when "scss"
					mixin args_checkbox("compass")
					mixin args_checkbox("lineComments", "line comments")
					mixin args_checkbox("debugInfo", "debug info")
					mixin args_checkbox("unixNewlines", "unix newlines")

				when "coffee"
					mixin args_checkbox("bare")
					mixin args_checkbox("literate")

	if !(/coffee|dust/.test(file.type))
		div.optionItem.option_outputStyle
			h3.title {{output style:}}
			select.outputStyle
				mixin outputStyle_option(style, title)
					option(value=style,selected=file.settings.outputStyle === style)= title ? title : style

				case file.type
					when "less"
						mixin outputStyle_option("", "normal")
						mixin outputStyle_option("compress")
						mixin outputStyle_option("yuicompress")

					- case "sass":
					when "scss"
						mixin outputStyle_option("nested")
						mixin outputStyle_option("expanded")
						mixin outputStyle_option("compact")
						mixin outputStyle_option("compressed")

	footer
		button(class="compileManually") {{[@jadetmpl.html]compile}}
</script>