<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Koala - {{Settings}}</title>
	<link type="text/css" rel="stylesheet" href="../../assets/css/settings.css">
</head>
<body>
	<div id="window">
		<h1 id="titlebar">
			{{Settings}}
			<span class="close">×</span>
		</h1>
		<div id="outer">
			<div id="inner"></div>
		</div>
		<footer id="footer">
			<div class="border"></div>
			<button id="ok">{{Ok}}</button>
			<button id="cancel">{{Cancel}}</button>
		</footer>
	</div>

	<script src="../../assets/libs/jquery-1.9.1.min.js"></script>
	<script src="../../scripts/pages/settings.js"></script>
</body>
</html>