@import "reset.css";
.hide {
  display: none;
}
#window {
  padding: 10px;
}
#window_inner {
  position: relative;
}
h1 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  line-height: 20px;
  font-size: 14px;
}
#log_tmpl {
  position: relative;
}
#log_tmpl li {
  display: none;
}
#log {
  position: absolute;
  top: 36px;
  left: 0;
  height: -webkit-calc(100% - 77px);
  width: 100%;
  overflow: scroll;
}
#log ul {
  padding: 10px;
}
#log li {
  border-bottom: 1px dashed #CCC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#log li:last-child {
  border-bottom: none;
}
#log h3 {
  position: relative;
  line-height: 25px;
}
#log .time {
  position: absolute;
  right: 0;
  top: 0;
}
#log .file {
  display: block;
  width: -webkit-calc(100% - 50px);
  overflow: hidden;
  word-spacing: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 14px;
}
#log pre {
  color: #D00;
}
#log_ft {
  position: absolute;
  bottom: 0;
  width: -webkit-calc(100% - 20px);
  height: 30px;
  padding-top: 10px;
  border-top: 1px solid #CCC;
}
#log_ft button {
  float: right;
}
