@import "reset.css";
/* line 5, util.less */
.flexbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 4, settings.less */
body {
  overflow: hidden;
}
/* line 5, settings.less */
a {
  text-decoration: underline;
}
/* line 6, settings.less */
.hide {
  display: none;
}
/* line 8, settings.less */
#window {
  padding: 0;
  line-height: 25px;
}
/* line 13, settings.less */
#titlebar {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
/* line 19, settings.less */
#titlebar .close {
  font-weight: bold;
  text-indent: 12px;
  font-size: 16px;
  display: block;
  width: 35px;
  height: 35px;
  float: right;
}
/* line 28, settings.less */
#titlebar .close:hover {
  color: #555555;
}
/* line 32, settings.less */
#titlebar,
#footer {
  height: 35px;
  line-height: 35px;
}
/* line 38, settings.less */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  border-top: 1px solid #CCC;
  background-color: #FFF;
}
/* line 46, settings.less */
#footer button {
  width: 60px;
  margin-right: 10px;
}
/* line 52, settings.less */
#outer {
  padding: 10px 5px 0 0;
}
/* line 53, settings.less */
#inner {
  padding: 0 0 0 10px;
  height: 358px;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 60, settings.less */
.starborder {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
}
/* line 69, settings.less */
#nav {
  width: 140px;
  border-right: 1px solid #ccc;
}
/* line 73, settings.less */
#nav li {
  padding-left: 15px;
  line-height: 30px;
  height: 30px;
  position: relative;
  color: #999;
}
/* line 81, settings.less */
#nav li:hover {
  color: #555555;
}
/* line 85, settings.less */
#nav li.current {
  color: #555555;
}
/* line 86, settings.less */
#nav li.current::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
  background-color: #555;
}
/* line 91, settings.less */
.win32 #nav {
  width: 130px;
}
/* line 93, settings.less */
#content {
  -webkit-box-flex: 1;
  padding-left: 20px;
  padding-right: 15px;
  height: 100%;
  overflow: auto;
}
/* line 100, settings.less */
#content h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 106, settings.less */
#filter {
  padding: 0 3px;
  width: 150px;
  margin-left: 5px;
}
/* line 112, settings.less */
#checkupgrade {
  margin-left: 20px;
}
/* line 116, settings.less */
#upgradeloading {
  margin-left: 10px;
  display: none;
}
/* line 122, settings.less */
#upgradetips a {
  color: red;
}
/* line 123, settings.less */
#upgradetips .update,
#upgradetips .noupdate {
  display: none;
  padding: 0 10px;
  margin: 10px 0;
}
/* line 128, settings.less */
#upgradetips .update {
  background-color: #FDFD67;
}
/* line 131, settings.less */
#upgradetips .noupdate {
  background-color: #E0E0E0;
}
/* line 136, settings.less */
#link_download {
  margin-right: 5px;
}
