@import "reset.css";
.flexbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
body {
  overflow: hidden;
}
a {
  text-decoration: underline;
}
.hide {
  display: none;
}
#window {
  padding: 0;
  line-height: 25px;
}
#titlebar {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
#titlebar .close {
  font-weight: bold;
  text-indent: 12px;
  font-size: 16px;
  display: block;
  width: 35px;
  height: 35px;
  float: right;
}
#titlebar .close:hover {
  color: #555555;
}
#titlebar,
#footer {
  height: 35px;
  line-height: 35px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  border-top: 1px solid #CCC;
  background-color: #FFF;
}
#footer button {
  min-width: 60px;
  margin-right: 10px;
}
#outer {
  padding: 10px 5px 0 0;
}
#inner {
  padding: 0 0 0 10px;
  height: 394px;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.win32 #inner {
  height: 358px;
}
.starborder {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
}
#nav {
  width: 140px;
  border-right: 1px solid #ccc;
}
#nav li {
  padding-left: 15px;
  line-height: 30px;
  height: 30px;
  position: relative;
  color: #999;
}
#nav li:hover {
  color: #555555;
}
#nav li.current {
  color: #555555;
}
#nav li.current::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 4px;
  background-color: #999999;
  background-color: #555;
}
.win32 #nav {
  width: 130px;
}
#content {
  -webkit-box-flex: 1;
  padding-left: 20px;
  padding-right: 15px;
  height: 100%;
  overflow: auto;
}
#content h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
#content h3 {
  margin-bottom: 5px;
}
#filter {
  padding: 0 3px;
  width: 150px;
  margin-left: 5px;
}
#checkupgrade {
  margin-left: 20px;
}
#upgradeloading {
  margin-left: 10px;
  display: none;
}
#upgradetips a {
  color: red;
}
#upgradetips .update,
#upgradetips .noupdate {
  display: none;
  padding: 0 10px;
  margin: 10px 0;
}
#upgradetips .update {
  background-color: #FDFD67;
}
#upgradetips .noupdate {
  background-color: #E0E0E0;
}
#link_download {
  margin-right: 5px;
}
