@import "reset.css";

@import "component.css";
.hide {
  display: none;
}
.icon {
  background: url(../../img/icons.png) no-repeat;
}
.textOverhide {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
}
#window {
  width: 100%;
  min-height: 600px;
  min-width: 850px;
  box-shadow: 0 0 5px #767b7f;
  overflow: hidden;
}
#content {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  height: -webkit-calc(561px);
  border: 1px solid #767b7f;
  border-top: none;
}
#sidebar,
#main,
#extend {
  height: 100%;
}
#sidebar {
  width: 215px;
  background-color: #e5f1f8;
  position: relative;
}
#main {
  -webkit-box-flex: 1;
  background-color: #f5f5f5;
  position: relative;
}
#notifier {
  width: 400px;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
#framebar {
  height: 37px;
  background: -webkit-linear-gradient(top, #5a6064 0%, #44474a 100%);
  position: relative;
  border: 1px solid #3f4345;
  border-bottom: none;
}
#framebar h1 {
  line-height: 37px;
  color: #c2d2dd;
  font-size: 20px;
  padding-left: 10px;
  text-shadow: none;
}
#framebar h1 span {
  color: #3b9cef;
}
#framebar .btns {
  display: -webkit-flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#framebar .minimize,
#framebar .close {
  -webkit-flex: auto;
  width: 40px;
  height: 100%;
  background: red;
  border: none;
  border-left: 1px solid #5d6266;
  box-shadow: -1px 0 0 #3d4043;
  background: url(../../img/icons.png) no-repeat;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
}
#framebar .minimize {
  background-position: -49px -74px;
}
#framebar .minimize:hover {
  background-position: -121px -74.5px;
}
#framebar .close {
  background-position: -85px -74px;
}
#framebar .close:hover {
  background-position: -157px -74px;
}
#menus {
  display: -webkit-flex;
  height: 56px;
}
#menus li {
  -webkit-flex: auto;
  width: 33%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
  box-shadow: -1px 0 0 #9db2bc, -2px 0 0 #79868c;
  background: -webkit-linear-gradient(top, #8c9ca4 0%, #79868c 100%);
  position: relative;
}
#menus li:hover {
  background: -webkit-linear-gradient(top, #3eb3eb 0%, #1f93c9 100%);
}
#menus li:before {
  display: block;
  width: 24px;
  height: 24px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  content: '';
  background: url(../../img/icons.png) no-repeat;
}
#menus #addDirectory:before {
  background-position: -85px 0;
}
#menus #log:before {
  background-position: -119px 0;
}
#menus #settings:before {
  background-position: -153px 0;
}
#projects {
  position: absolute;
  top: 56px;
  width: 100%;
  overflow: auto;
  bottom: 0;
}
#folders li {
  height: 45px;
  line-height: 45px;
  padding-left: 51px;
  padding-right: 34px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 14px;
  cursor: default;
}
#folders li:before {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -90px -41px;
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -15px;
  content: '';
}
#folders li.active {
  height: 50px;
  line-height: 50px;
  background-color: #cedee9;
  font-weight: bold;
}
#folders li.active:before {
  width: 29px;
  height: 28px;
  background-position: 0 -37px;
  margin-top: -13px;
  margin-left: -4px;
}
#folders li.active:after {
  display: block;
  width: 20px;
  height: 13px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -115px -51px;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -7px;
  content: '';
}
#searchbar {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
#searchbar .hr {
  border-bottom: 1px dashed #e0e1e1;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#searchbar #refresh {
  float: left;
  display: block;
  width: 79px;
  height: 22px;
  background: -webkit-linear-gradient(top, #73c232 0%, #5da029 100%);
  border: none;
  border-radius: 20px;
  color: #FFF;
  text-shadow: 1px 1px 1px #5fa12d;
  position: relative;
  top: 2px;
}
#searchbar #refresh:after {
  float: left;
  display: block;
  width: 14px;
  height: 16px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -142px -49px;
  position: relative;
  top: 1px;
  content: '';
}
#searchbar #searchform {
  float: right;
  width: 180px;
  position: relative;
}
#searchbar #searchform input[type=text] {
  width: 160px;
  height: 25px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 0 10px;
  outline: none;
}
#searchbar #searchform button {
  display: block;
  width: 17px;
  height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -165px -49px;
  border: none;
  position: absolute;
  right: 10px;
  top: 4px;
}
#files {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  bottom: 40px;
  top: 54px;
  width: 100%;
}
#filelist {
  padding: 0 10px;
}
#filelist .file_item {
  padding: 10px 0 10px 73px;
  position: relative;
  height: 53px;
  border: 1px solid #f5f5f5;
}
#filelist .file_item:before {
  width: 53px;
  height: 53px;
  background: url(../../img/icons.png) no-repeat;
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
}
#filelist .file_item:hover {
  background-color: #f1f2f3;
  border-color: #e2e2e2;
}
#filelist .file_item.active {
  background-color: #e7edf3;
  border-color: #d2dbe0;
}
#filelist .file_item.type_less:before {
  background-position: 0 -124px;
}
#filelist .file_item.type_sass:before {
  background-position: -55px -124px;
}
#filelist .file_item.type_scss:before {
  background-position: -110px -124px;
}
#filelist .file_item.type_coffee:before {
  background-position: -165px -124px;
}
#filelist .name,
#filelist .output {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#filelist .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}
#filelist .output {
  color: #999;
  line-height: 20px;
  height: 20px;
}
#filelist .changeOutput {
  float: left;
  margin-right: 5px;
  display: block;
  width: 19px;
  height: 19px;
  border: none;
  background: url(../../img/icons.png) no-repeat;
  background-position: -191px -47px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
}
#categoryNav {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #efefef 100%);
}
#categoryNav .hr {
  border-top: 1px solid #dee2e5;
  background-color: #FFF;
  height: 1px;
}
#categoryNav .nav {
  padding: 0 20px;
  position: relative;
  top: 9px;
}
#categoryNav .nav li {
  display: inline-block;
  padding: 0 15px;
  line-height: 18px;
  height: 18px;
  cursor: default;
}
#categoryNav .nav li.current {
  box-shadow: inset 1px 1px 1px #c0c0c0, inset -1px -1px 1px #c0c0c0;
  border: 1px solid #FFF;
  border-radius: 5px;
  background-color: #ececec;
  color: #3b9cef;
  font-weight: bold;
}
#extend {
  background-color: #575c60;
  color: #FFF;
  text-shadow: none;
  width: 0;
  -webkit-transition: width 200ms ease-out;
}
#extend.show {
  width: 200px;
}
#extend_inner {
  width: 180px;
  padding: 10px;
  line-height: 22px;
}
#extend_inner select {
  line-height: 18px;
}
#extend_inner .type {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
#extend_inner .title {
  font-size: 14px;
  line-height: 28px;
}
#extend_inner .optionItem {
  margin-top: 10px;
}
#extend_inner footer {
  text-align: center;
  margin-top: 50px;
}
